{# Template du sous menu de navigation de l'espace admin #}
<div class="well sidebar-nav">
{% if app.request.attributes.get('_template').get('controller') == "Admin\\Blog" 
	or app.request.attributes.get('_template').get('controller') == "Admin\\BlogCategories"
	or app.request.attributes.get('_template').get('controller') == "Admin\\BlogTags"
	or app.request.attributes.get('_template').get('controller') == "Admin\\Page"
	or app.request.attributes.get('_template').get('controller') == "Admin\\Link"
	or app.request.attributes.get('_template').get('controller') == "Admin\\Album" 
%}
  <ul class="nav nav-list">
    <li class="nav-header">Gestion des contenus</li>
    <li{% if app.request.attributes.get('_route') == 'admin_content_pages' %} class="active"{% endif %}>
    	<a href="{{ path('admin_content_pages')}}">Pages</a>
    </li>
    
    <li{% if app.request.attributes.get('_route') == 'admin_content_blog' %} class="active"{% endif %}>
    	<a href="{{ path('admin_content_blog')}}">Blog</a>
    	<ul>
          	<li><a href="{{ path('admin_content_blog_categories') }}">Catégories</a></li>
        	<li><a href="{{ path('admin_content_blog_categories') }}">Mot-clés</a></li>
        </ul>
    </li>
    
    <li{% if app.request.attributes.get('_route') == 'content_album' %} class="active"{% endif %}>
    	<a href="{{ path('content_album')}}">Discographie</a>
    </li>
    
    <li{% if app.request.attributes.get('_route') == 'content_link' %} class="active"{% endif %}>
    	<a href="{{ path('content_link')}}">Liens</a>
    </li>
  
  </ul>
{% endif %}
</div><!--/.well -->