<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} {{ site_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ block('title') }} {{ site_name }}">

    <!-- Le styles -->
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>

    {% block stylesheets %}
        {{ encore_entry_link_tags("members-area") }}
    {% endblock %}

    {% block headerJs %}{% endblock %}

</head>
<body>
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">

    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">
        <img src="{{ asset('images/logo_aml87_black.png') }}" height="60" alt="{{ site_name }}  "/>
    </a>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li>
                    {% if app.user %}
                        {{ 'layout.welcome_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                    {% endif %}
                </li>
            </ul>
        </div>
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <li>
                <a class="btn btn-info btn-rounded btn-sm waves-effect waves-light"
                   href="{{ path('app_members_area_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            </li>
        </ul>
    {% endif %}
</header>
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">

            <nav class="bd-links">

                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_members_agenda') }}">Agenda</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Bibliothèque de partitions</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Documents AML</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Mes présences</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('aml_users_members_list') }}">Liste des
                            membres</a></li>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('easyadmin') }}">Admin</a></li>
                    {% endif %}
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Mes informations</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>

                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Vérifier mes informations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mettre à jour mes
                            informations</a>
                    </li>
                </ul>
            </nav>

        </div>

        <main role="main" class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
            <!-- CONTENT HERE -->
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-error">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('info') %}
                <div class="alert alert-info">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </main>
    </div>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags("members-area") }}
{% endblock %}
</body>
</html>
