{% extends 'base.html.twig' %}

{% block title -%}
    Connexion -
{%- endblock title %}

{% block body %}
<div class="contenu-page">
    {# templates/security/login.html.twig #}
    {# ... you will probably extend your base template, like base.html.twig #}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div>
        {% if error %}
            <div class="alert alert-error flash-notice">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}


        {{ form_start(form, { action: path('app_members_area_login_check') }) }}

                {{ form_label(form._login_email, 'E-mail', { label_attr: { class: 'visually-hidden' } }) }}
                {{ form_errors(form._login_email) }}
                {{ form_widget(form._login_email, { attr: { placeholder: 'E-mail' } }) }}

                {{ form_label(form._login_password, 'Mot de passe', { label_attr: { class: 'visually-hidden' } }) }}
                {{ form_errors(form._login_password) }}
                {{ form_widget(form._login_password, { attr: { placeholder: 'Mot de passe' } }) }}

                <a href="" class="form__forgotten-pw">Oublié ?</a>

                <button class="btn btn-primary" type="submit">Connexion</button>

        {{ form_end(form) }}
    </div>
</div>
{%- endblock body %}
