{% extends 'base.html.twig' %}

{% block title -%}
    Connexion -
{%- endblock title %}

{% block body %}
<div class="contenu-page">
    {# templates/security/login.html.twig #}
    {# ... you will probably extend your base template, like base.html.twig #}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div>
        {% if error %}
            <div class="alert alert-error flash-notice">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}


        <form action="{{ path('app_members_area_login') }}"  method="post">

            <label for="inputUsername" class="visually-hidden">Login</label>
            <input type="text" value="{{ last_username }}" name="_username" id="inputUsername" class="form-control" placeholder="Login" required autofocus>
            <label for="inputPassword" class="visually-hidden">Mot de passe</label>
            <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>

            <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
            <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <button class="btn btn-primary" type="submit">Connexion</button>

        </form>
    </div>
</div>
{%- endblock body %}
