{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% set _preview      = block('preview') %}
{% set _form         = block('form') %}
{% set _show         = block('show') %}
{% set _list_table   = block('list_table') %}
{% set _list_filters = block('list_filters') %}
{% set _side_menu    = block('side_menu') %}
{% set _content      = block('content') %}
{% set _title        = block('title') %}
{% set _breadcrumb   = block('breadcrumb') %}
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block stylesheets %}
            <!-- jQuery code -->
            <link rel="stylesheet" href="{{ asset('bundles/sonatajquery/themes/flick/jquery-ui-1.8.16.custom.css') }}" type="text/css" media="all" />

            <!-- base application asset -->
            <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/css/layout.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/css/colors.css') }}" type="text/css" media="all" />


            <link href="{{ asset('bundles/amladmin/stylesheets/application.css') }}" media="screen" rel="stylesheet" type="text/css" />
           <!-- <link href="{{ asset('bundles/amlweb/css/admin/application.css') }}" media="screen" rel="stylesheet" type="text/css"/> -->
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('bundles/sonatajquery/jquery-1.8.3.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/sonatajquery/jquery-ui-1.8.23.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/sonatajquery/jquery-ui-i18n.js') }}" type="text/javascript"></script>

            <script src="{{ asset('bundles/sonataadmin/jquery/jquery.form.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/sonataadmin/base.js') }}" type="text/javascript"></script>

            <script src="{{ asset('bundles/amladmin/javascripts/application.js') }}" type="text/javascript"></script>
        {% endblock %}

        <title>
            {{ 'Admin'|trans({}, 'SonataAdminBundle') }}

            {% if _title is not empty %}
                {{ _title|raw }}
            {% else %}
                {% if action is defined %}
                    -
                    {% for menu in admin.breadcrumbs(action) %}
                        {% if not loop.first  %}
                            &gt;
                        {% endif %}
                        {{ menu.label }}
                    {% endfor %}
                {% endif %}
            {% endif%}
        </title>
    </head>
    <body class="{% if _side_menu is empty %}sonata-ba-no-side-menu{% endif %}">
        {# initialize block value #}

        {# Barre de navigation top #}
        {% include "AmlAdminBundle::Navigation/navbar.html.twig" %}

        <div class="sidebar-background">
            <div class="primary-sidebar-background"></div>
        </div>

        {# Barre de navigation gauche #}
        {% include "AmlAdminBundle::Navigation/primary_sidebar.html.twig" %}

        <div class="main-content">

            {# Page title #}
            <div class="container">
                <div class="row">
                    <div class="area-top clearfix">
                        <div class="pull-left header">
                            <h3 class="title">
                                <i class="icon-dashboard"></i>
                                {% if _title is not empty %}
                                    {{ _title|raw }}
                                {% else %}
                                    {% if action is defined %}
                                        {% for menu in admin.breadcrumbs(action) %}
                                            {% if loop.last  %}
                                                {{ menu.label }}
                                            {% endif %}

                                        {% endfor %}
                                    {% endif %}
                                {% endif%}
                            </h3>
                            <h5>
                                A subtitle can be added here
                            </h5>
                        </div>
                    </div>
                </div>
            </div>

            {# Breadcrumb line #}
            <div class="container padded">
                <div class="row">
                    {% if _breadcrumb is not empty or action is defined %}
                    <div id="breadcrumbs">
                        {% if _breadcrumb is empty %}
                        {% if action is defined %}
                        {% for menu in admin.breadcrumbs(action) %}
                        {% if loop.first  %}
                        <div class="breadcrumb-button blue">
                                        <span class="breadcrumb-label">
                                        {% if menu.uri is not empty %}
                                            <a href="{{ menu.uri }}">{{ menu.label }}</a>
                                        {% else %}
                                            {{ menu.label }}
                                        {% endif %}
                                        </span>
                            <span class="breadcrumb-arrow"><span></span></span>
                        </div>
                        {% elseif not loop.last  %}
                            <div class="breadcrumb-button">
                                        <span class="breadcrumb-label">
                                        {% if menu.uri is not empty %}
                                            <a href="{{ menu.uri }}">{{ menu.label }}</a>
                                        {% else %}
                                            {{ menu.label }}
                                        {% endif %}
                                        </span>
                                <span class="breadcrumb-arrow"><span></span></span>
                            </div>
                        {% else %}
                        <div class="breadcrumb-button">
                                <span class="breadcrumb-label">{{ menu.label }}
                                    <span class="breadcrumb-arrow"><span></span></span>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% else %}
                        {{ _breadcrumb|raw }}
                    {% endif %}
                </div>
                {% endif %}

            </div>

            {# Main content #}
            <div class="container padded">

                {# Alert Message #}
                {% block notice %}
                    {% for notice_level in ['success','error','info', 'warning'] %}
                        {% set session_var = 'sonata_flash_' ~ notice_level %}
                        {% for flash in app.session.flashbag.get(session_var) %}
                            <div class="alert {{ 'alert-' ~ notice_level }}">
                                {{ flash|trans([], 'SonataAdminBundle') }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endblock %}

                <div class="row">
                    {% if _side_menu is not empty %}
                        <div class="sidebar span2">
                            <div class="well sonata-ba-side-menu" style="padding: 8px 0;">{{ _side_menu|raw }}</div>
                        </div>
                    {% endif %}

                    <div class="content {{ _side_menu is not empty ? ' span10' : 'span12' }}">

                        {%block actions %}{% endblock %}


                        {% block sonata_admin_content %}

                            {% if _preview is not empty %}
                                <div class="sonata-ba-preview">{{ _preview|raw }}</div>
                            {% endif %}

                            {% if _content is not empty %}
                                <div class="sonata-ba-content">{{ _content|raw }}</div>
                            {% endif %}

                            {% if _show is not empty %}
                                <div class="sonata-ba-show">{{ _show|raw }}</div>
                            {% endif %}

                            {% if _form is not empty %}
                                <div class="sonata-ba-form">{{ _form|raw }}</div>
                            {% endif %}

                            {% if _list_table is not empty or _list_filters is not empty %}
                                <div class="row">
                                    <div class="sonata-ba-filter col-md-6">
                                        {{ _list_filters|raw }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="sonata-ba-list col-md-12">
                                        {{ _list_table|raw }}
                                    </div>
                                </div>
                            {% endif %}

                        {% endblock %}
                    </div>
                </div>
            </div>

        </div>


        <script src="{{ asset('bundles/amlweb/js/bootstrap/bootstrap-datepicker.js') }}"></script>
        <script src="{{ asset('bundles/amlweb/js/bootstrap/bootstrap-timepicker.js') }}"></script>
    </body>
</html>
