{% extends 'base.html.twig' %}

{% block title -%}
    Archives
{%- endblock title %}

{% block body %}

    {# Breadcrumb #}
    {% include "_includes/breadcrumb.html.twig" %}

    <article class="contenu-page">

        <h1>Archives - {{ currentSeason.name }}</h1>

        <ul id="agenda-concerts-public">
            {% for key,entity in entities %}
                <li class="event-item">
                    <span class="date">
                        {{ entity.dateStart | format_date('EEEE d MMMM Y', 'fr', 'Europe/Paris') }} :
                    </span>

                    <h2>
                        <a href="{{ path('agenda_show_event', { 'slug': entity.slug }) }}"
                               title="{{ entity.title }}">{{ entity.title }}</a>
                    </h2>
                </li>
            {% endfor %}
        </ul>

    </article>
{% endblock body %}

{% block columnRight %}

    {{ parent() }}

    {# Seasons list #}
    {% include "AmlEvenementsBundle::Agenda/archives/seasons.html.twig" %}

{% endblock columnRight %}
