{# Bloc des partenaires #}
{% if entity.partenaires is not empty %}
<h3>Partenaires</h3>
<ul id="blocs-evenement-partenaires">
    {% for key,partenaire  in entity.partenaires %}
        <li>
            <div class="partenaire-visuel">
                <a href="{{ partenaire.url }}" target="_blank">
                    {% if partenaire.logo.webpath is defined and partenaire.logo.webpath is not empty %}
                    <img src="{{ asset(partenaire.logo.webpath) | apply_filter('partenaire_thumbnail')  }}"
                         alt="{{ partenaire.name }}" title="{{ partenaire.name }}"
                         class="imagecache imagecache-visuel_blog" width="120">
                    {% else %}
                        {{ partenaire.name }}
                    {% endif %}
                </a>
            </div>
        </li>
    {% endfor %}
</ul>
{% endif %}