{% extends "AmlWebBundle::layout.html.twig" %}

{% block title -%}
    Agenda
{%- endblock title %}

{% block body %}
<div id="col-left" class="two-cols-content">

	<div class="contenu-page">

		<h1>Agenda</h1>

        <div id="agenda-concerts-public">
        {% for key,day in entities %}
            <div>
                <div class="uiHeaderSection"><strong><i class="icon-calendar"></i> {{ key | format_datetime(null, 'fr', 'Europe/Paris',  constant('IntlDateFormatter::LONG'), constant('IntlDateFormatter::SHORT')) }}</strong></div>
                {% for entity in day %}
                    <div class="event-item">
                        <h2>
                            {% if entity.url.urlKey is defined and entity.url.urlKey is not empty %}
                                <a href="{{ path('agenda_show_event_rewrite', { 'url_key': entity.url.urlKey }) }}"
                                   title="{{ entity.title }}">{{ entity.title }}</a>
                            {% else %}
                                <a href="{{ path('agenda_show_event', { 'id': entity.id }) }}"
                                   title="{{ entity.title }}">{{ entity.title }}</a>
                            {% endif %}
                        </h2>

                        {% if entity.picture %}
                        <div class="event-item-structure event-item-container-thumbnail">
                            <a rel="prettyPhoto" href="{{ asset(entity.picture.webpath) | apply_filter('evenement_view') }}"
                               title="{{ entity.title }}" class="thumbnail-list">
                                <img data-src="holder.js/450x450" alt="450x450" src="{{ asset(entity.picture.webpath) | apply_filter('evenement_list') }}" title="{{ entity.picture.title }}"
                                      class="imagecache imagecache-evenement_list" width="450">
                            </a>
                        </div>
                        {% endif %}
                        <div class="event-item-structure event-item-container-description">
                            <div>
                                {{ entity.description|raw|wordWarp }}
                                {% if entity.url.urlKey is defined and entity.url.urlKey is not empty %}
                                    <a href="{{ path('agenda_show_event_rewrite', { 'url_key': entity.url.urlKey }) }}"
                                       title="{{ entity.title }}">{{ entity.title }}</a>
                                {% else %}
                                    <a href="{{ path('agenda_show_event', { 'id': entity.id }) }}"
                                       title="{{ entity.title }}">{{ entity.title }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        </div>



	</div>
</div>

<div id="col-right">
    {# Next Concert #}
    {{ render(controller('AmlEvenementsBundle:Agenda:nextConcert')) }}
</div>
{% endblock body %}

