{% extends "AmlWebBundle::layout.html.twig" %}

{% block title -%}
    Agenda
{%- endblock title %}

{% block body %}
<div id="col-left" class="two-cols-content">

	<div class="contenu-page">

		<h1>Agenda</h1>

        <div id="agenda-concerts-public">
        {% for key,day in entities %}
            <div>
                <div class="uiHeaderSection"><strong><i class="icon-calendar"></i> {{ key | format_datetime(null, 'fr', 'Europe/Paris',  constant('IntlDateFormatter::LONG'), constant('IntlDateFormatter::SHORT')) }}</strong></div>
                {% for entity in day %}
                    <div class="event-item">
                        {% if entity.picture %}
                        <div class="event-item-structure event-item-container-thumbnail">
                            <a href="{{ path('agenda_show_event', { 'id': entity.id }) }}" title="{{ entity.title }}" class="thumbnail">
                                <img data-src="holder.js/160x120" alt="160x120" src="{{ asset(entity.picture.webpath) }}" title="{{ entity.picture.title }}"
                                      class="imagecache imagecache-visuel_blog" style="width: 160px;">
                            </a>
                        </div>
                        {% endif %}
                        <div class="event-item-structure event-item-container-description">
                            <h2><a href="{{ path('agenda_show_event', { 'id': entity.id }) }}" title="{{ entity.title }}">{{ entity.title }}</a></h2>
                            <div>
                                {{ entity.description|raw|wordWarp }}
                                </br>
                                <a href="{{ path('agenda_show_event', { 'id': entity.id }) }}" title="Lire l'article : {{ entity.title }}" >Lire la suite</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        </div>



	</div>
</div>

<div id="col-right">

</div>
{% endblock body %}

