{% extends "AmlWebBundle::layout.html.twig" %}

{% block title -%}
    {{ entity.title }} - Agenda
{%- endblock title %}

{% block body %}
    <div id="col-left" class="two-cols-content evenement">

        <div class="contenu-page">
            <h1>{{ entity.title }}</h1>

            {# Date #}
            {% if entity.dateStart %}
            <span><strong>
                <i class="icon-calendar"></i>
                {{ entity.dateStart | format_datetime(null, 'fr', 'Europe/Paris',  constant('IntlDateFormatter::LONG'), constant('IntlDateFormatter::SHORT')) }}
            </strong></span>
            {% endif %}

            {# Affiche #}
            {% if entity.picture %}
            <div>
                <a href="#" class="thumbnail">
                    <img data-src="holder.js/160x120" alt="160x120" src="{{ asset(entity.picture.webpath) }}" title="{{ entity.picture.title }}"
                          class="imagecache imagecache-visuel_blog" />
                </a>
            </div>
            {% endif %}

            <div><p>{{ entity.description|raw }}</p></div>
        </div>
    </div>

    <div id="col-right">

        {# Liste articles liés #}
        {% include "AmlEvenementsBundle::Agenda/blocArticles.html.twig" %}

        {# Liste des partenaires de l'évènement #}
        {% include "AmlEvenementsBundle::Agenda/blocPartenaires.html.twig" %}
    </div>

{% endblock body %}