{% extends "AmlWebBundle::layout.html.twig" %}

{% block title -%}
    {{ entity.title }} - Agenda
{%- endblock title %}

{% block body %}
    <div id="col-left" class="two-cols-content evenement">

        {# Breadcrumb #}
        {% include "AmlWebBundle::Partial/breadcrumb.html.twig" %}

        <article class="contenu-page">
            <h1>{{ entity.title }}</h1>

            {# Date #}
            {% if entity.dateStart %}
                <span class="date">{{ entity.dateStart | format_date('EEEE d MMMM Y à HH:mm', 'fr', 'Europe/Paris') }}</span>
            {% endif %}

            {# Affiche #}
            {% if entity.picture and entity.picture.webpath %}
                <div>
                    <a rel="prettyPhoto" href="{{ asset(entity.picture.webpath) | apply_filter('modal_img') }}"
                       class="thumbnail">
                        <img data-src="holder.js/160x120" alt="{{ entity.picture.title }}"
                             src="{{ asset(entity.picture.webpath) | apply_filter('evenement_view') }}"
                             title="{{ entity.picture.title }}"
                             class="imagecache imagecache-evenement_view" width="588"/>
                    </a>
                </div>
            {% endif %}

            <div><p>{{ entity.description|raw }}</p></div>
        </article>
    </div>

    <div id="col-right">
        {# Liste articles liés #}
        {% include "AmlEvenementsBundle::Agenda/blocArticles.html.twig" %}

        {# Liste des partenaires de l'évènement #}
        {% include "AmlEvenementsBundle::Agenda/blocPartenaires.html.twig" %}
    </div>

{% endblock body %}
