{% if lastAlbum  %}
<div id="discographie-last-album-block">
	<div class="disc-pochette-list">
        {% if lastAlbum.image.webpath is defined %}
            <img src="{{ asset(lastAlbum.image.webpath) }}" alt="" title="{{ lastAlbum.image.title }}" class="imagecache imagecache-pochette-album" width="500" height="300">
        {% endif %}
	</div>
	<div class="disc-description-list">
		<h3>
			<a href="{{ path('aml_discography_album', { 'id': lastAlbum.id }) }}" title="Voir l'article : {{ lastAlbum.title }}" >{{ lastAlbum.title }}</a>
		</h3>
		<span class="disc-date-sortie">Date de sortie : {{ lastAlbum.date|date('d-m-Y') }}</span>	
		
		<p>{{ lastAlbum.description|raw }}</p>				
		
		<a href="{{ path('aml_discography_album', { 'id': lastAlbum.id }) }}" title="Voir l'album : {{ lastAlbum.title }}" >lire la suite</a>
		
			
	</div>	
</div>
{% endif %}