{% if lastAlbum  %}
<article id="discographie-last-album-block">
	<div class="disc-pochette-list">
        {% if lastAlbum.image.webpath is defined %}
        <a rel="prettyPhoto" href="{{ asset(lastAlbum.image.webpath) }}" >
            <img src="{{ asset(lastAlbum.image.webpath) }}"
                 alt="{{ lastAlbum.title }}"
                 title="{{ lastAlbum.title }}"
                 class="imagecache imagecache-pochette-album" width="500" height="300" />
        </a>
        {% endif %}
	</div>
	<div class="disc-description-list">
		<h3>
            {% if lastAlbum.url.urlKey is defined and lastAlbum.url.urlKey is not empty %}
                <a href="{{ path('discography_album_show_rewrite', { 'url_key': lastAlbum.url.urlKey }) }}"
                   title="Voir l'album : {{ lastAlbum.title }}">{{ lastAlbum.title }}</a>
            {% else %}
                <a href="{{ path('discography_album_show', { 'id': lastAlbum.id }) }}"
                   title="Voir l'album : {{ lastAlbum.title }}">{{ lastAlbum.title }}</a>
            {% endif %}
		</h3>
		<span class="disc-date-sortie">Date de sortie : {{ lastAlbum.date|date('d-m-Y') }}</span>	
		
		<p>{{ lastAlbum.description|raw|wordWarp }}</p>

        {% if lastAlbum.url.urlKey is defined and lastAlbum.url.urlKey is not empty %}
            <a href="{{ path('discography_album_show_rewrite', { 'url_key': lastAlbum.url.urlKey }) }}"
               title="Voir l'album : {{ lastAlbum.title }}">Lire la suite</a>
        {% else %}
            <a href="{{ path('discography_album_show', { 'id': lastAlbum.id }) }}"
               title="Voir l'album : {{ lastAlbum.title }}">Lire la suite</a>
        {% endif %}
	</div>	
</article>
