{% if lastBlogArticle  %}
<div id="blog-last-article-block" class="blog-article">
	<h3>
        {% if lastBlogArticle.url.urlKey is defined and lastBlogArticle.url.urlKey is not empty %}
            <a href="{{ path('blog_show_rewrite', { 'url_key': lastBlogArticle.url.urlKey }) }}"
               title="Voir l'article : {{ lastBlogArticle.title }}">{{ lastBlogArticle.title }}</a>
        {% else %}
            <a href="{{ path('blog_show', { 'id': lastBlogArticle.id }) }}"
               title="Voir l'article : {{ lastBlogArticle.title }}">{{ lastBlogArticle.title }}</a>
        {% endif %}
	</h3>

	<div class="publi-info">
		<span>Publié le
			<span class="date-article-block">le {% if lastBlogArticle.created %}{{ lastBlogArticle.created|date('d/m/Y à H:i') }}{% endif %}</span>
			{% if lastBlogArticle.category %}
				 dans <a href="{{ path('blog',{'category' : lastBlogArticle.category.systemName}) }}" title="{{lastBlogArticle.category.name}}">{{lastBlogArticle.category.name}}</a>
			{% endif %}
		</span>
	</div>

    {% if lastBlogArticle.logo.webpath is defined and lastBlogArticle.logo.webpath is not empty %}
        <div class="blog-visuel">
            <a rel="prettyPhoto" href="{{ asset(lastBlogArticle.logo.webpath) | apply_filter('blog_view')  }}" >
                <img width="375" height="250" class="imagecache imagecache-blog_list"
                     title="{{ lastBlogArticle.title }}"
                     src="{{ lastBlogArticle.logo.webpath | apply_filter('blog_list') }}"
                     alt="{{ lastBlogArticle.title }}" />
            </a>
        </div>
    {% endif %}

	<p class="container-wysiwyg">
		{{lastBlogArticle.body|wordWarp}}
        {% if lastBlogArticle.url.urlKey is defined and lastBlogArticle.url.urlKey is not empty %}
            <a href="{{ path('blog_show_rewrite', { 'url_key': lastBlogArticle.url.urlKey }) }}"
               title="Lire l'article : {{ lastBlogArticle.title }}">Lire la suite</a>
        {% else %}
            <a href="{{ path('blog_show', { 'id': lastBlogArticle.id }) }}"
               title="Lire l'article : {{ lastBlogArticle.title }}">Lire la suite</a>
        {% endif %}
	</p>

    {% if lastBlogArticle.tags is not empty %}
        <span class="blog-tags">Mots clés : </span>
        {% for key,tag in lastBlogArticle.tags %}
            {% if key > 0 %}, {% endif %}<a class="active" title="{{ tag.description }}" href="{{ path('blog',{'tag' : tag.systemName}) }}">{{ tag.name }}</a>
        {% endfor %}
    {% endif %}

</div>
{% endif %}