{% extends "AmlWebBundle::Admin/layout.html.twig" %}

{% form_theme edit_form 'AmlWebBundle:Form:aml_theme.html.twig' %}

{% block title -%}
    Partenaires - éditer le partenaire "{{ entity.name }}"
{%- endblock title %}

{% block body %}
<div class="row-fluid">


    <div class="span12">

        <form class="form-horizontal" action="{{ path('admin_partenaire_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            {{ form_row(edit_form.name) }}
            {{ form_row(edit_form.url) }}

            <div>
                <img src="{{ asset('uploads/images/' ~ entity.logo.path ) }}" title="{{ entity.logo.title }}">
                {{ form_row(edit_form.logo.file) }}
            </div>

            {{ form_rest(edit_form) }}

            <div class="form-actions">
                <a href="{{ path('admin_agenda') }}" class="btn btn-link" title="Retourner à la liste des partenaires">
                    <i class="icon-arrow-left"></i>
                    retour à la liste des partenaires
                </a>

                <button class="btn btn-primary pull-right" type="submit">Enregistrer</button>
            </div>
        </form>

        <ul class="record_actions">
            <li>
                <form action="{{ path('admin_partenaire_delete', { 'id': entity.id }) }}" method="post">
                    {{ form_widget(delete_form) }}
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
            </li>
        </ul>

    </div>

</div>

    {# CONFIG CKEDITOR #}
    {% include "AmlWebBundle::Admin/Partial/ckeditor.html.twig" with {'target': 'aml_bundle_webbundle_partenairetype_description'}  %}
{% endblock body %}
