{% extends "AmlWebBundle::Admin/layout.html.twig" %}

{% form_theme form 'AmlWebBundle:Form:aml_theme.html.twig' %}

{% block title -%}
    Partenaires - Créer un nouveau partenaire
{%- endblock title %}

{% block body %}
<div class="row-fluid">

    <div class="span12">

            <form class="form-horizontal" action="{{ path('admin_partenaire_create') }}" method="post" {{ form_enctype(form) }}>
                {{ form_row(form.name) }}
                {{ form_row(form.url) }}
                <div>
                    {{ form_widget(form.logo) }}
                </div>

                {{ form_rest(form) }}

                <div class="form-actions">
                    <a href="{{ path('admin_agenda') }}" class="btn btn-default" title="Retourner à la liste des évènements">
                        <i class="icon-arrow-left"></i>
                        retour à la liste des partenaires
                    </a>

                    <button class="btn btn-primary pull-right" type="submit">Enregistrer</button>
                </div>
            </form>
    </div>

</div>

    {# CONFIG CKEDITOR #}
    {% include "AmlWebBundle::Admin/Partial/ckeditor.html.twig" with {'target': 'aml_bundle_webbundle_partenairetype_description'}  %}
{% endblock body %}



