{% if nextConcert is defined and nextConcert is not empty %}
    <div id="block-concert">
        <h3>Prochain concert</h3>

        <span class="date">{{ nextConcert.dateStart|localizeddate('full', 'short')  }}</span>

        <div class="container-date-description-block">
            <div>{{ nextConcert.title }} </div>

            <a class="link-view-more" href="{{ path('agenda_show_event', { 'slug': nextConcert.slug }) }}"
               title="En savoir plus : {{ nextConcert.title }}">En savoir plus</a>
        </div>

        <a title="Voir tous les concerts" class="links-view-all black" href="{{ path('agenda') }}">Voir tous les
            concerts</a>
    </div>
{% endif %}
