{% extends "AmlWebBundle::Admin/layout.html.twig" %}

{% block title -%}

    Liens - Modifier

{%- endblock title %}

{% block body %}
<div class="row-fluid">


	<div class="span12">
	
		<form action="{{ path('content_link_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
		    {{ form_widget(edit_form) }}
		    <div class="form-actions">
		        <button class="btn btn-primary" type="submit">Enregistrer</button>
		        <a class="btn" href="{{ path('content_link') }}">
		            Retour à la liste des liens
		        <p>
		         <form action="{{ path('content_link_delete', { 'id': entity.id }) }}" method="post">
		            {{ form_widget(delete_form) }}
		            <button class="btn btn-danger" type="submit">Supprimer</button>
		        </form>
		        </p>
		    </div>
		</form>
	
	</div>
</div>
{% endblock body %}