{% extends "AmlWebBundle::Admin/layout.html.twig" %}

{% block title -%}

    Liens

{%- endblock title %}

{% block body %}
<div class="row-fluid">
	<div class="span3">
		{# Barre de navigation left #}
	  	{% include "AmlWebBundle::Admin/Navigation/content_subnav.html.twig" %}  
	</div>		


	<div class="span5">
	
		<h1>Liens</h1>
		
		<table class="table table-bordered table-striped">
		    <thead>
		        <tr>
		            <th>Titre</th>
		            <th>URL</th>
		            <th>Status</th>
		            <th>Actions</th>
		        </tr>
		    </thead>
		    <tbody>
		    {% for entity in entities %}
		        <tr>		            
		            <td><a href="{{ path('content_link_show', { 'id': entity.id }) }}">{{ entity.description }}</a></td>
		            <td>{{ entity.url }}</td>
		            <td>{{ entity.public|publicStatus }}</td>
		            <td>
		                <ul class="nav">
		                    <li>
		                        <a class="btn btn-link" href="{{ path('content_link_edit', { 'id': entity.id }) }}" title="Modifier le lien">
		                        	<i class="icon-pencil"></i> Modifier
		                        </a>
		                    </li>		                    
		                </ul>
		            </td>
		        </tr>
		    {% endfor %}
		    </tbody>
		</table>
		
		<ul>
		    <li>
		        <a class="btn btn-primary" href="{{ path('content_link_new') }}">
		             <i class="icon-pencil"></i> Ajouter un lien
		        </a>
		    </li>
		</ul>
	</div>
</div>
{% endblock body %}