{# Template de la barre de navigation de l'espace admin #}
<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
    <div class="navbar-header">
        {% if admin_pool is defined %}

            {% block logo %}
                <a href="{{ url('sonata_admin_dashboard') }}" class="navbar-brand">
                    <img src="{{ asset(admin_pool.titlelogo) }}"  alt="{{ admin_pool.title }}" />
                    {{ admin_pool.title }}
                </a>
            {% endblock %}

        {% endif %}

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-primary">
            <span class="sr-only">Toggle Side Navigation</span>
            <i class="icon-th-list"></i>
        </button>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-top">
            <span class="sr-only">Toggle Top Navigation</span>
            <i class="icon-align-justify"></i>
        </button>
    </div>
    <div class="collapse navbar-collapse navbar-collapse-top">

        <div class="navbar-right">

            <ul class="nav navbar-nav navbar-left">

                <li class="cdrop active">
                    <a href="{{ path('home') }}" title="Go home"><i class="icon-home"></i> Home</a>
                </li>
                <li class="cdrop{% if app.request.attributes.get('_route') == 'admin_bundle_users_user_list' %} active"{% endif %}">
                    <a href="{{ path('admin_aml_users_user_list') }}" title="Gestion des membres"><i class="icon-user"></i> Membres</a>
                </li>

            </ul>

            {% block sonata_nav_menu %}
                <ul class="nav navbar-nav navbar-left">
                    {% block top_bar_before_nav %} {% endblock %}
                    {% block sonata_top_bar_nav %}
                        {% if app.security.token and is_granted('ROLE_SONATA_ADMIN') and admin_pool.dashboardgroups %}
                            {% for group in admin_pool.dashboardgroups %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ group.label|trans({}, group.label_catalogue) }} <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        {% for admin in group.items %}
                                            {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                                <li><a href="{{ admin.generateUrl('list')}}">{{ admin.label|trans({}, admin.translationdomain) }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        {% endif %}
                    {% endblock %}
                    {% block top_bar_after_nav %} {% endblock %}
                </ul>
            {% endblock %}



            <ul class="nav navbar-nav navbar-left">
                {% if app.user %}
                    {% set userName = app.user.username %}

                    {% if app.user.firstname %}
                        {% set userName = app.user.firstname %}

                        {% if app.user.lastname %}
                            {% set userName = userName ~ ' ' ~ app.user.lastname %}
                        {% endif %}

                    {% endif %}

                    <li class="dropdown">

                        <!-- the dropdown has a custom user-avatar class, this is the small avatar with the badge -->

                        <a href="#" class="dropdown-toggle dropdown-avatar" data-toggle="dropdown">
                          <span>
                            <img class="menu-avatar" src="{{ asset('bundles/amladmin/images/avatars/avatar1.jpg') }}"/>

                            <span>{{ userName }} <i class="icon-caret-down"></i></span>
                            <!-- <span class="badge badge-dark-red">5</span> -->
                          </span>
                        </a>

                        <ul class="dropdown-menu">

                            <!-- the first element is the one with the big avatar, add a with-image class to it -->

                            <li class="with-image">
                                <div class="avatar">
                                    <img src="{{ asset('bundles/amladmin/images/avatars/avatar1.jpg') }}"/>
                                </div>
                                <span>{{ userName }}</span>
                            </li>

                            <li class="divider"></li>

                            <li><a href="#"><i class="icon-cog"></i> <span>Settings</span></a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-off"></i> <span>{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</span></a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>

            <!--/.nav-collapse -->

        </div>
    </div>
</nav>
