{# Template de la barre de navigation verticale de l'espace admin #}
<div class="primary-sidebar">


    <!-- Main nav -->
    <ul class="nav navbar-collapse collapse navbar-collapse-primary">

        <li class="active">
            <span class="glow"></span>
            <a href="{{ path('sonata_admin_dashboard') }}">
                <i class="icon-dashboard icon-2x"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="dark-nav ">

            <span class="glow"></span>

            <a class="accordion-toggle collapsed " data-toggle="collapse" href="#aml_admin_content">
                <i class="icon-beaker icon-2x"></i>
                    <span>
                      Contenus
                      <i class="icon-caret-down"></i>
                    </span>

            </a>

            <ul id="aml_admin_content" class="collapse ">

                <li class="">
                    <a href="{{ path('admin_aml_web_page_list') }}"><i class="icon-hand-up"></i> Pages</a>
                </li>

                <li class="dark-nav">
                    <span class="glow"></span>
                    <a class="accordion-toggle collapsed " data-toggle="collapse" href="#admin_content_blog">
                        <i class="icon-beaker"></i>Blog
                    </a>
                    <ul id="admin_content_blog" class="collapse ">
                        <li><a href="{{ path('admin_aml_blog_article_list') }}">Articles</a></li>
                        <li><a href="{{ path('admin_aml_blog_category_list') }}">Catégories</a></li>
                        <li><a href="{{ path('admin_aml_blog_tags_list') }}">Mot-clés</a></li>
                    </ul>
                </li>

                <li class="">
                    <a href="{{ path('admin_aml_discography_album_list') }}"> <i class="icon-info-sign"></i> Discrographie</a>
                </li>

                <li class="">
                    <a href="{{ path('content_link') }}"><i class="icon-th-large"></i> Liens</a>
                </li>
            </ul>

        </li>

        <li class="">
            <span class="glow"></span>
            <a href="{{ path('admin_agenda', {mode:'calendar'}) }}" title="Gestion des évènements"> <i
                        class="icon-edit icon-2x"></i> <span>Agenda</span></a>
        </li>
        <li class="">
            <span class="glow"></span>
            <a href="{{ path('admin_aml_evenements_evenement_list') }}" title="Gestion des évènements"> <i
                        class="icon-edit icon-2x"></i> <span>Evènements</span></a>
        </li>

        <li class="dark-nav">
            <span class="glow"></span>
            <a class="accordion-toggle collapsed " data-toggle="collapse" href="#admin_aml_media" title="Gestion des médias">
                <i class="icon-bar-chart icon-2x"></i>
                <span>Médias</span>
            </a>

            <ul id="admin_aml_media" class="collapse ">

                <li class="">
                    <a href="{{ path('admin_aml_medias_image_list') }}"><i class="icon-hand-up"></i> Images</a>
                </li>
                <li class="">
                    <a href="{{ path('admin_aml_medias_file_list') }}"><i class="icon-hand-up"></i> Documents</a>
                </li>

            </ul>
        </li>

    </ul>

</div>
