{% extends "AmlWebBundle::Admin/layout.html.twig" %}

{% block title -%}

    Page - Liste des pages

{%- endblock title %}

{% block body %}
<div class="row-fluid">

	<div class="span12">

        <div class="form-actions">
            <a class="btn btn-link" href="{{ path('admin_content_pages_new') }}">
                <i class="icon-plus"></i> Créer une nouvelle page
            </a>
        </div>

		<table class="table table-bordered table-striped">
		    <thead>
		        <tr>
		            <th>Title</th>
		            <th>Created</th>
		            <th>Updated</th>
		            <th>Public</th>
		            <th>Url</th>
		            <th>Actions</th>
		        </tr>
		    </thead>
		    <tbody>
            {% if entities is not empty  %}
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.title }}</td>
                        <td>{{ entity.body }}</td>
                        <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif%}</td>
                        <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif%}</td>
                        <td>{{ entity.public }}</td>
                        <td>{{ entity.url }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('admin_content_pages_show', { 'id': entity.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_content_pages_edit', { 'id': entity.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <td colspan="7">Aucune page enregistré</td>
            {% endif %}
		    </tbody>
		</table>
		

	</div>
</div>
{% endblock body %}