{% extends "AmlWebBundle::Admin/layout.html.twig" %}

{% block title -%}
    Discrographie - Liste des albums
{%- endblock title %}

{% block body %}
<div class="row-fluid">

	<div class="span12">

        <div class="form-actions">
            <a class="btn btn-link" href="{{ path('content_album_new') }}">
                <i class="icon-plus"></i> Ajouter un nouvel Album
            </a>
        </div>

		<table class="table table-bordered table-striped">
		    <thead>
		        <tr>
		            <th>Titre</th>
		            <th>Description</th>
		            <th>Statut</th>		            
		            <th>Actions</th>
		        </tr>
		    </thead>
		    <tbody>
            {% if entities is not empty  %}
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('discographie_album', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                        <td>{% if entity.date %}{{ entity.date|date('d/m/Y') }}{% endif%}</td>
                        <td>{{ entity.public|publicStatus }}</td>
                        <td>
                            <a class="btn btn-link" href="{{ path('content_album_show', { 'id': entity.id }) }}"><i class="icon-folder-open"></i> Voir</a>
                            <a class="btn btn-link" href="{{ path('content_album_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i> Modifier</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <td colspan="4">Aucun album enregistré</td>
            {% endif %}
		    </tbody>
		</table>

	</div>
</div>
{% endblock body %}
