{% extends "AmlWebBundle::Admin/layout.html.twig" %}

{% block title -%}
    Discrographie - Ajouter un album
{%- endblock title %}

{% block body %}
<div class="row-fluid">

	<div class="span12">

		<form action="{{ path('content_album_create') }}" method="post" {{ form_enctype(form) }}>
		    {{ form_row(form.title) }}
		    
		    
		    <div id="album_date_container" class="input-append date" data-date="{{ "now"|date("d/m/Y") }}">
						
				{{ form_label(form.date) }}
				{{ form_widget(form.date) }}<span class="add-on"><i class="icon-th"></i></span>
				
				{{ form_errors(form.date) }}
			</div>
			
			{{ form_row(form.description) }}
			
			{{ form_row(form.public) }}			
			
			
			{{ form_widget(form) }}
		    <div class="form-actions">
		        <button class="btn btn-primary" type="submit">Enregistrer</button>
		    </div>
		</form>
		
		<ul class="record_actions">
		    <li>
		        <a href="{{ path('content_album') }}">
		            Back to the list
		        </a>
		    </li>
		</ul>

    </div>
</div>

{# CONFIG CKEDITOR #}
{% include "AmlWebBundle::Admin/Partial/ckeditor.html.twig" with {'target': 'aml_bundle_WebBundle_albumtype_description'}  %} 


{% endblock body %}

{% block endJS %}
	<script type="text/javascript">

$('#album_date_container').datepicker({
				format: 'dd/mm/yyyy',
		});

</script>
{% endblock endJS %}
