{% extends "AmlWebBundle::Admin/layout.html.twig" %}

{% block title -%}

    Blog - Liste des articles

{%- endblock title %}

{% block body %}
    <div class="row-fluid">


        <div class="span12">

            <div class="form-actions">
                <a class="btn btn-default" href="{{ path('admin_content_blog_new') }}">
                    <i class="icon-plus"></i> Créer un nouvel article
                </a>
            </div>

            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Créé le</th>
                    <th>Dernière modification le</th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% if entities is not empty %}
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('blog_show', { 'id': entity.id }) }}" target="_blank"
                                   title="Voir l'article : {{ entity.title }}">{{ entity.title }}</a></td>
                            <td>le {% if entity.created %}{{ entity.created|date('d/m/Y à H:i') }}{% endif %}</td>
                            <td>le {% if entity.updated %}{{ entity.updated|date('d/m/Y à H:i') }}{% endif %}</td>
                            <td>{{ entity.public|publicStatus }}</td>
                            <td>
                                <a class="btn btn-default" href="{{ path('blog_show', { 'id': entity.id }) }}"
                                   target="_blank" title="Voir l'article : {{ entity.title }}"><i
                                            class="icon-folder-open"></i> Voir</a>
                                <a class="btn btn-default"
                                   href="{{ path('admin_content_blog_edit', { 'id': entity.id }) }}"><i
                                            class="icon-pencil"></i> Modifier</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <td colspan="5">Aucun article enregistré</td>
                {% endif %}
                </tbody>
            </table>

            {# Pagination #}
            {% set currentRoot = 'admin_content_blog' %}
            {% include "AmlWebBundle:Admin/Partial:pagination.html.twig" %}
        </div>
    </div>
{% endblock body %}
