{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
                <i class="fa fa-comments fa-fw"></i>
                {{ settings.title }}</h3>
        </div>
        <div class="box-body">
            <div class="sonata-feeds-container list-group">
                {% for message in messages %}
                    <a class="list-group-item"
                       href="{{ path('admin_aml_contactus_message_edit', { 'id': message.id }) }}" rel="nofollow"
                       title="{{ message.name }}">
                        <strong class="info">{{ message.name }} ({{ message.email }})</strong>
                        - {{ message.subject|raw }} -  {{ message.created|date('d/m/Y à H:i') }}
                    </a>
                {% else %}
                    <div class="list-group-item">{% trans %}No message available{% endtrans %}.</div>
                {% endfor %}
            </div>
        </div>
        <div class="box-footer">
            <a class="btn btn-primary btn-block" href="{{ path('admin_aml_contactus_message_list') }}">
                <i class="fa fa-list"></i> {% trans %}View all messages{% endtrans %}
            </a>
        </div>
    </div>
{% endblock %}