<h2>
    <a href="{{ path('blog_show', {'slug': entity.slug }) }}"
       title="Voir l'article : {{ entity.title }}">{{ entity.title }}</a>
</h2>

<div class="publi-info">
    <span>Publié le
        <span class="date-article-block">le {% if entity.created %}{{ entity.created|date('d/m/Y à H:i') }}{% endif %}</span>
        {% if entity.category and entity.category.name and entity.category.systemName %}
            dans <a href="{{ path('blog', {'category' : entity.category.systemName}) }}"
                    title="{{ entity.category.name }}">{{ entity.category.name }}</a>
        {% endif %}
    </span>
</div>

{% if entity.video %}
    <iframe id="ytplayer" type="text/html" width="640" height="360"
            src="https://www.youtube.com/embed/{{ entity.video.providerId }}?html5=1"
            frameborder="0"
            allowfullscreen="true">
    </iframe>
{% elseif entity.logo.webpath is defined and entity.logo.webpath is not empty %}
    <div class="blog-visuel">
        <a rel="prettyPhoto[blog]" href="{{ asset(entity.logo.webpath) | imagine_filter('modal_img') }}">
            <img width="425" class="imagecache imagecache-blog_list"
                 title="{{ entity.title }}"
                 src="{{ entity.logo.webpath | imagine_filter('blog_list') }}"
                 alt="{{ entity.title }}"/>
        </a>
    </div>
{% endif %}

<p class="container-wysiwyg">
    {{ entity.body|raw|wordWarp }}

    <a href="{{ path('blog_show', {'slug': entity.slug }) }}"
       title="Lire l'article : {{ entity.title }}">Lire la suite</a>

</p>

{% if entity.tags is not empty %}
    <span class="blog-tags">Mots clés : </span>
    {% for key,tag in entity.tags %}
        {% if key > 0 %}, {% endif %}<a class="active" title="{{ tag.description }}"
                                        href="{{ path('blog',{'tag' : tag.systemName}) }}">{{ tag.name }}</a>
    {% endfor %}
{% endif %}

