<h2>
    <a href="{{ path('blog_show', {'slug': article.slug }) }}"
       title="Voir l'article : {{ article.title }}">{{ article.title }}</a>
</h2>

<div class="publi-info">
    <span>Publié le
        <span class="date-article-block">le {% if article.created %}{{ article.created|date('d/m/Y à H:i') }}{% endif %}</span>
        {% if article.category.name %}
            dans <a href="{{ path('blog', {'category' : article.category.systemName}) }}"
                    title="{{ article.category.name }}">{{ article.category.name }}</a>
        {% endif %}
    </span>
</div>

{% if article.video %}
    <iframe id="ytplayer" type="text/html" width="640" height="360"
            src="https://www.youtube.com/embed/{{ article.video.providerId }}?html5=1"
            frameborder="0"
            allowfullscreen="true">
    </iframe>
{% elseif article.logo.webpath is defined and article.logo.webpath is not empty %}
    <div class="blog-visuel">
        <a rel="prettyPhoto[blog]" href="{{ asset(article.logo.webpath) | imagine_filter('modal_img') }}">
            <img width="425" class="imagecache imagecache-blog_list"
                 title="{{ article.title }}"
                 src="{{ article.logo.webpath | imagine_filter('blog_list') }}"
                 alt="{{ article.title }}"/>
        </a>
    </div>
{% endif %}

<p class="container-wysiwyg">
    {{ article.body|raw|wordWarp }}

    <a href="{{ path('blog_show', {'slug': article.slug }) }}"
       title="Lire l'article : {{ article.title }}">Lire la suite</a>

</p>

{% if article.tags is not empty %}
    <span class="blog-tags">Mots clés : </span>
    {% for key,tag in article.tags %}
        {% if key > 0 %}, {% endif %}<a class="active" title="{{ tag.description }}"
                                        href="{{ path('blog',{'tag' : tag.systemName}) }}">{{ tag.name }}</a>
    {% endfor %}
{% endif %}

