{% extends "AmlWebBundle::Admin/layout.html.twig" %}

{% block title -%}
    Discrographie
{%- endblock title %}

{% block body %}
<div class="row-fluid">

	<div class="span5">
	
		<h1>Gestion des médias</h1>

		<table class="table table-bordered table-striped">
		    <thead>
		        <tr>
		            <th>Image</th>
		            <th>Title</th>
		            <th>File</th>		         
		            <th>Type</th>
		            <th>Actions</th>
		        </tr>
		    </thead>
		    <tbody>
		    {% for entity in entities %}
		        <tr>
		            <td>
		            	{% if 'image' == entity.type['key'] %}
		            		<img width="100" src="{{ asset(entity.webPath) }}" title="{{ entity.type['label'] }} : {{ entity.title }}" />
		            	{% else %}
		            		<i class="icon-file"></i> pdf
		            	{% endif %}
		            </td>
		            <td>{{ entity.title }}</td>
		            <td>{{ entity.webPath }}</td>		            
		            <td>{{ entity.type['label'] }}</td>
		            <td>
		             	{# Lien voir/télécharger #}
                        <a class="btn btn-link" href="{{ asset(entity.webPath) }}" target="_blanck"><i class="icon-download"></i> Voir</a>
                 
                 		{# Bouton supprimer #}
                        <form action="{{ path('admin_file_delete', { 'id': entity.id }) }}" method="post">
				            {{ form_widget(delete_forms[entity.id]) }}
				            <button class="btn btn-danger" type="submit">Supprimer</button>
				        </form>
		                
		            </td>
		        </tr>
		    {% endfor %}
		    </tbody>
		</table>
		
		<ul>
		    <li>
		        <a href="{{ path('admin_file_new',{ 'type':'file'}) }}">
		            Ajouter un fichier
		        </a>
		    </li>
		    <li>
		        <a href="{{ path('admin_file_new',{ 'type':'image'}) }}">
		            Ajouter une image
		        </a>
		    </li>
		    <li>
		        <a href="{{ path('admin_file_new',{ 'type':'music'}) }}">
		            Ajouter un fichier audio
		        </a>
		    </li>
		</ul>
		
	</div>
</div>
{% endblock body %}
