{% extends "AmlWebBundle::Admin/layout.html.twig" %}

{% block title -%}

   - Gestion des membres

{%- endblock title %}

{% block body %}
<div class="row-fluid">
	<div class="span3">
		{# Barre de navigation left #}
	  	{% include "AmlWebBundle::Admin/Navigation/content_subnav.html.twig" %}  
	</div>		


	<div class="span5">
		<h1>Liste des membres</h1>

        <div class="form-actions">
            <a class="btn btn-link" href="{{ path('admin_user_new') }}">
                <i class="icon-plus"></i> Ajouter un membre
            </a>
        </div>

		<table class="table table-bordered table-striped">
		    <thead>
		        <tr>
		            <th>Membre</th>
		            <th>Email</th>
		            <th>Login</th>
		            <th>Statut</th>
		            <th>Actions</th>
		        </tr>
		    </thead>
		    <tbody>
            {% if entities is not empty  %}
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('admin_user_edit', { 'id': entity.id }) }}"> {{ entity.civilite }} {{ entity.prenom }} {{ entity.nom }} (id:{{ entity.id }})</a></td>
                        <td>{{ entity.email }}</td>
                        <td>{{ entity.login }}</td>
                        <td>{{ entity.statut }}</td>
                        <td>
                            <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}"><i class="icon-folder-open"></i> Voir</a>
                            <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i> Modifier</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <td colspan="5">Aucun membre enregistré</td>
            {% endif %}
		    </tbody>
		</table>

	</div>
</div>
{% endblock body %}
