{% extends 'base.html.twig' %}

{% block title -%}
    Discrographie
{%- endblock title %}

{% block body %}

    {# Breadcrumb #}
    {% include "_includes/breadcrumb.html.twig" %}

    <div class="contenu-page">
        {% if albums is not empty %}
            {% for album in albums %}

                <article class="disc-item{% if loop.last %} last{% endif %}">

                    {% if album.image.webpath is defined %}
                        <div class="disc-pochette-list">
                            <a rel="prettyPhoto[discography]"
                               href="{{ asset(album.image.webpath) | imagine_filter('modal_img') }}">
                                <img src="{{ asset(album.image.webpath) | imagine_filter('discography_list') }}"
                                     alt="{{ album.image.title }}" title="{{ album.image.title }}"
                                     class="imagecache imagecache-pochette-album" width="180" height="160">
                            </a>
                        </div>
                    {% endif %}

                    <div class="disc-description-list">
                        <h3>
                            {% if album.url.urlKey is defined and album.url.urlKey is not empty %}
                                <a href="{{ path('discography_album_show_rewrite', { 'album': album.url.urlKey }) }}"
                                   title="Voir l'album : {{ album.title }}">{{ album.title }}</a>
                            {% else %}
                                <a href="{{ path('discography_album_show', { 'album': album.id }) }}"
                                   title="Voir l'album : {{ album.title }}">{{ album.title }}</a>
                            {% endif %}
                        </h3>
                        <span class="disc-date-sortie">Date de sortie : {{ album.date|date('d-m-Y') }}</span>

                        <p>{{ album.description|raw|wordWarp }}</p>

                        {% if album.url.urlKey is defined and album.url.urlKey is not empty %}
                            <a href="{{ path('discography_album_show_rewrite', { 'album': album.url.urlKey }) }}"
                               title="Voir l'album : {{ album.title }}">Lire la suite</a>
                        {% else %}
                            <a href="{{ path('discography_album_show', { 'album': album.id }) }}"
                               title="Voir l'album : {{ album.title }}">Lire la suite</a>
                        {% endif %}

                    </div>
                </article>

            {% endfor %}

        {% else %}
            <h1>Discographie</h1>
            <p>Aucun album n'a été publié.</p>
        {% endif %}
    </div>

{% endblock body %}
